DJANGO_SETTINGS_MODULE=template.settings.local
CELERY_BROKER_URL=amqp://broker:5672//
# Please choose postgres or sqlite as your DB:
# DATABASE_URL=postgres://template:password@db:5432/template
# DATABASE_URL=sqlite:///backend/db.sqlite3
